<%@ Master Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html lang="en">
    <head runat="server">
        <title><%: Page.Title %></title>
    </head>

    <body>
        <form runat="server">
        
            <div>
                <asp:ContentPlaceHolder ID="MainContent" runat="server">
                </asp:ContentPlaceHolder>
            </div>

        </form>
    </body>
</html>
