<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.Master.cs" Inherits="SystemWebUISample.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">

<head runat="server">
    <title><%: Page.Title %> - <%=OtherText %></title>

    <asp:PlaceHolder runat="server">
    </asp:PlaceHolder>

</head>

<body>
    <div>
        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</body>
</html>
