name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
    - name: Install GitVersion
      run: dotnet tool install --global GitVersion.Tool --ignore-failed-sources
    - name: Run GitVersion
      run: dotnet gitversion /output buildserver /nofetch
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal
    - name: Pack
      run: dotnet pack -c Release
    - name: Upload artifact
      uses: actions/upload-artifact@v4.1.0
      with:
        path: |
          bin/Release/packages/shipping/*.nupkg
          bin/Release/packages/shipping/*.snupkg
    - name: Push nuget package to Azure storage
      if: github.ref == 'refs/heads/main'
      env:
        SLEET_FEED_TYPE: azure
        SLEET_FEED_CONTAINER: feed
        SLEET_FEED_CONNECTIONSTRING: ${{secrets.SLEET_CONNECTIONSTRING}}
      run: |
        cd $GITHUB_WORKSPACE/bin/Release/packages/shipping/
        dotnet tool install -g sleet
        sleet push . --skip-existing
